body {
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 6%;
}

.navbar {
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image{
  transform: rotate(25deg);
  width: 100%;
  position: absolute;
  right: 2%;
  top: 20%;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

h3{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.bottom-container{
  background-color: #ef8172;
  padding: 50px 0 20px;
  text-align: center;
}

.footer-link{
  font-family: "Montserrat-dark";
  margin: 10px 20px;
}
.footer-link:hover{
  color: #44fc;
}
.copyright{
  color: #44fc;
}

.carousel-item{
  padding: 0 15%;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#cta{
  padding: 100px;
  text-align: center;
  text-align: center;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

@media (max-width: 1080px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
   }
}
